.container
    .well
        legend User List
        table.table.table-bordered.table-hover.table-striped.table-responsive
            thead
                tr
                    th Username
                    th First Name
                    th Last Name
                    tbody
                        tr(ng-repeat="user in users")
                            td {{user.username}}
                            td {{user.firstName}}
                            td {{user.lastName}}