doctype html
html
    head
        title MEAN App
        link(href="favicon.ico", rel="shortcut icon", type="image/png")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href="/vendor/toastr/toastr.min.css", rel="stylesheet", type="text/css")
        link(href="/css/site.css", rel="stylesheet", type="text/css")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts