.container
    .jumbotron
        h1 MEAN App
        p Welcome to Your New MEAN Stack App!

    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center Your Awesome Content
                .panel-body
                    .row
                        p Sweet information goes here
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center Your Awesome Content Part 2
                .panel-body
                    .row
                        p Should probably make it look better than this, though. Just sayin...