.container
    .jumbotron
        h1 MEAN App
        p Welcome to Your New MEAN Stack App!

    .row
        .col-md-6
            div Content goes here
        .col-md-6
            div Content goes here